.thumbnail{
    width: 300px;
    height: 150px;
}
.chanelPic{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
h2,p{
    display:inline;
}
.video-detalist{
    display: flex;
    width: fit-content;
}
.detalist{
    margin-left: 10px;
    width: 100%;
}
.chanelPic-con{
    display:flex;
    align-items:center;
    justify-content:center;
}
.video-card{
    width: 300px;
    display:flex;
    flex-direction: column;
    padding:5px;
    border:1px solid black;
    border-radius:10px;
}